body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 13px;
}

.overlayContainer {
  width: 350px;
  min-height: 150px;
  max-height: 300px;
}

body {
   background: url('https://image.flaticon.com/icons/png/512/184/184676.png') !important;
}

#masthead,
#primary {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  background-color: #fff;
  padding: 20px !important;
}
#masthead {
  background: none;
}
#masthead img, #primary img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.overlayContainer {
  padding: 10px 20px;
}

.copyButton,.copyButton:visited, .copyButton:focus {
  width: 100px;
  height: 20px;
  z-index: 1051;
  display: inline-block;
   float: right;
  opacity: .6;
  background-color: #a3e243;
}

.copyButton:hover {
  opacity: 1;
  background-color: #a3e243;
}
